{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django APP</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde illo in sunt, adipisci veritatis harum deserunt eius facilis earum consequatur accusamus eum ut libero sapiente sequi beatae quasi ipsum? Eum dolore consequuntur voluptatem. Velit, tempore blanditiis natus consectetur ut sint aperiam dolorem nesciunt voluptate nemo delectus id aliquid voluptates dolore. Porro voluptatum aperiam ratione libero. Vitae similique iusto id blanditiis, impedit consequuntur nisi optio eaque dolore sint consequatur repellat neque nesciunt aut, aperiam iure, voluptatum ipsa deserunt! Deserunt sit, dicta consequuntur veniam exercitationem ratione facere perferendis repellat accusantium expedita deleniti. Blanditiis, totam voluptatem ad veniam odit atque exercitationem accusantium deserunt.</p>
        <div class="text-center">
            <a class="btn btn-secondary" href="/signin">Login</a>
            <a class="btn btn-dark" href="/signup">Registrarse</a>
        </div>
    </section>
</main>

{% endblock %}