{% extends 'base.html' %}

{% block content %}

<h1>Tasks Pending</h1>

<ul>
    {% for task in task %}
    <li>
        <a href="{% url 'task_detail' task.id %}">
        {% if task.important %}
        <h1 style="color: red;">{{task.title}}</h1>
        {% else %}
        <h1 style="color: blue;">{{task.title}}</h1>
        {% endif %}
        </a>
        <p> {{task.description}} </p>
        <p> {{task.user.username}} </p>
        <p> {{task.datecompleted|date:'j/M/Y-h:i'}} </p>
    </li>
    {% endfor %}
</ul>

{% endblock %}