{% extends 'base.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 py-5">
            <h1 class="text-center display-4">Tareas Completas</h1>
            <ul class="list-group">
                {% for task in task %}
                <li class="list-group-item">
                    <a href="{% url 'task_detail' task.id %}" style="text-decoration: none;">
                    {% if task.important %}
                    <h1 class="text-danger">{{task.title}}</h1>
                    {% else %}
                    <h1 class="text-primary">{{task.title}}</h1>
                    {% endif %}
                    </a>
                    <p> {{task.description}} </p>
                    <footer>
                        <p> {{task.user.username}} </p>
                        <p> {{task.datecompleted|date:'j/M/Y-h:i'}} </p>
                    </footer>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</main>

{% endblock %}